@import './styles/base.scss';

:root {
  --primary-color: blue;
  --duration: 1s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: red;
  animation-name: move-like-a-square, red-to-green;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes move-like-a-square {
  // 0%,
  // 100% {
  //   transform: none;
  // }
  from,
  to {
    transform: none;
  }
  25% {
    // animation-timing-function: linear;
    transform: translateX(20vw);
  }
  50% {
    transform: translateX(20vw) translateY(20vw);
  }
  75% {
    transform: translateX(0) translateY(20vw);
  }
  // 100% {
  //   // transform: translateY(-20vw);
  //   transform: none;
  // }
}

@keyframes red-to-green {
  from {
    background: red;
  }
  to {
    background: green;
  }
}
