@import './styles/base.scss';

:root {
  --primary-color: blue;
  --duration: 1s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: red;
  animation: slide-right var(--duration) var(--easing) infinite;
  transition-property: background, transform;
  // transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear, ease-in-out;

  // transition: all    2s         0.5s       ease-in-out;
  //                  duration     delay      timing-function

  &:hover {
    padding: 3rem;
    transition-delay: 0.5s;
    transition-duration: 1s, 3s;
    background: blue;
    transform: scale(2);
  }
}
